In [1]:
todo = ["pick up laundry", "buy Groceries", "pay electric bills"]

In [2]:
print(todo)

['pick up laundry', 'buy Groceries', 'pay electric bills']

In [3]:
User = {
    "first_name" : "Jack",
    "last_name" : "White",
    "age" : 41,
    "email" : "jack.white@gmail.com"
}

In [4]:
print(User)

{'first_name': 'Jack', 'last_name': 'White', 'age': 41, 'email': 'jack.white@gmail.com'}

In [5]:
mixed_list = ["one", 2, 3.0]

In [6]:
print(mixed_list)

['one', 2, 3.0]

### Exercise 21: Working with Python Lists

In [7]:
shopping = ["bread", "milk", "eggs"]
print(shopping)

['bread', 'milk', 'eggs']

In [8]:
for item in shopping:
    print(item)

bread
milk
eggs

In [9]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

### Exercise 22: Using a Nested List to Store Data from a Matrix

In [10]:
m = [ [1, 2, 3], [4,5,6]]

In [12]:
# [row]pcolumn]
print(m[1][1])

5

In [13]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

1
2
3
4
5
6

In [14]:
for row in m:
    for col in row:
        print(col)

1
2
3
4
5
6

In [15]:
for row in m:
    print(row)

[1, 2, 3]
[4, 5, 6]

# Activity 6: Using a Nested List to Store Employee Data

In [16]:
name_index, age_index, dept_index = 0, 1, 2

In [17]:
employees = [ ["John McKee", 38, "Sales"], ["Lisa Crawford", 29, "Marketing"], ["Sujan Patel", 33, "HR"]]

In [18]:
print (employees)

[['John McKee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [20]:
for employee in employees:
    print(employee)

['John McKee', 38, 'Sales']
['Lisa Crawford', 29, 'Marketing']
['Sujan Patel', 33, 'HR']

In [21]:
for employee in employees:
    print(employee)
    print("Name:",employee[name_index])
    print("Age:", employee[age_index])
    print("Department:", employee[dept_index])

['John McKee', 38, 'Sales']
Name: John McKee
Age: 38
Department: Sales
['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department: Marketing
['Sujan Patel', 33, 'HR']
Name: Sujan Patel
Age: 33
Department: HR

In [22]:
    print(employees[1])
    print("Name:",employees[1][name_index])
    print("Age:", employees[1][age_index])
    print("Department:", employees[1][dept_index])

['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department: Marketing

### Excerise 23: Implementing Matrix Operations (Addition and Subtraction)

In [23]:
X = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]
Y = [ [10, 11, 12], [13, 14, 15], [16, 17, 18] ]

In [24]:
result = [ [0,0,0], [0,0,0], [0,0,0] ]

In [26]:
# iterate through rows
for i in range(len(X)):
    # iterate through the columns
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]

print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [28]:
# Do subtraction
X = [ [10, 11, 12], [13, 14, 15], [16, 17, 18] ]
Y = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = [ [0,0,0], [0,0,0], [0,0,0] ]
# iterate through rows
for i in range(len(X)):
    # iterate through the columns
    for j in range(len(X[0])):
        result[i][j] = X[i][j] - Y[i][j]

print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

### Exercise 24: Implementing Matrix Operations (Multiplication)

In [29]:
X = [ [1,2], [4,5], [3,6] ]
Y = [ [1,2,3,4], [5,6,7,8] ]

In [30]:
result = [ [0,0,0,0], [0,0,0,0], [0,0,0,0] ]

In [32]:
# implement the matrix multiplication algorithm to compute the result:
# iterating by row X
for i in range(len(X)):
    # iterating by column by Y
    for j in range(len(Y[0])):

        #iterating by rows of Y
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]

In [33]:
for r in result:
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

### Exercise 25: Basic List Operations

In [34]:
shopping = ["bread", "milk", "eggs"]

In [35]:
print(len(shopping))

3

In [36]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [37]:
list3 = ['oi']
print(list3*3)

['oi', 'oi', 'oi']

### Exercise 26: Accessing an Item from Shopping List Data

In [38]:
shopping = ["bread", "milk", "eggs"]
print(shopping[1])

milk

In [39]:
shopping[1] = "banana"
print(shopping)

['bread', 'banana', 'eggs']

In [40]:
print(shopping[-1])

eggs

In [41]:
print(shopping[0:2])

['bread', 'banana']

In [42]:
print(shopping[:3])

['bread', 'banana', 'eggs']

In [43]:
print(shopping[:10])

['bread', 'banana', 'eggs']

In [44]:
print(shopping[1:])

['banana', 'eggs']

### Exercise 27: Adding Items to Our Shopping List

In [45]:
shopping = ["bread", "milk", "eggs"]
shopping.append("apple")
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [46]:
shopping = []
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [47]:
shopping.insert(2, 'ham')
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple']

### Exercise 28: Using a Dictionary to Store a Movie Record

In [48]:
movie = {
    "title" : "The Godfather",
    "directory" : "Francis Ford Coppola",
    "year" : 1972,
    "rating" : 9.2
}

In [49]:
print(movie['year'])

1972

In [50]:
movie['rating'] = (movie['rating'] + 9.3)/2
print(movie['rating'])

9.25

In [51]:
movie = {}
movie['title'] = 'The Godfather'
movie['director'] = 'Francis Ford Coppola'
movie['year'] = 1972
movie['rating'] = 9.2

In [52]:
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2}

In [53]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
movie['other_details'] = {
    'runtime' : 175,
    'language' : 'English'
}
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

# Activity 7: Storing Company Employee Table Data Using a List and a Dictionary

In [55]:
employees = []
employees.append( {
    "name" : "John Mckee",
    "age" : 38,
    "department" : "Sales"
})
employees.append( {
    "name" : "Lisa Crawford",
    "age" : 29,
    "department" : "Marketing"
});
employees.append( {
    "name" : "Sujan Patel",
    "age" : 33,
    "department" : "HR"
})
print(employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

In [56]:
for employee in employees:
    print("Name:", employee['name'])
    print("Age:", employee['age'])
    print("Department:", employee['department'])
    print("------------------------------------")

Name: John Mckee
Age: 38
Department: Sales
------------------------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
------------------------------------
Name: Sujan Patel
Age: 33
Department: HR
------------------------------------

### Excercise 29: Using the zip() Method to Manipluate Dictionaries

In [57]:
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

In [58]:
orders = zip(items, quantity)
print(orders)

<zip object at 0x00000286E8229E80>

In [59]:
orders = zip(items, quantity)
print(list(orders))

[('apple', 5), ('orange', 3), ('banana', 2)]

In [60]:
orders = zip(items, quantity)
print(tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

In [61]:
orders = zip(items, quantity)
print(dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}

### Exercise 30: Accessing a Dictionary Using Dictionary Methods

In [1]:
orders = {'apple': 5, 'orange': 3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [2]:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [3]:
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

In [4]:
weekdays_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [6]:
weekdays_tuple = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

### Exercise 31: Exploring Tuple Properties in Our Shopping List

In [7]:
t = ('bread', 'milk', 'eggs')
print(len(t))

3

In [8]:
t.append('apple')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
t[2] = 'apple'

TypeError: 'tuple' object does not support item assignment

In [10]:
newTuple = t + ('apple', 'orange')
print(newTuple)

('bread', 'milk', 'eggs', 'apple', 'orange')

In [11]:
t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple', 3), ('orange',2), ('banana', 5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

In [12]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [13]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'banana', 'orange', 'apple'}

In [14]:
s4.add('pineapple')
print(s4)

{'banana', 'orange', 'apple', 'pineapple'}

### Exercise 33: Implementing Set Operations

In [15]:
s5 = {1, 2, 3, 4}
s6 = {3, 4, 5, 6 }

In [16]:
print(s5 | s6)

{1, 2, 3, 4, 5, 6}

In [17]:
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}

In [18]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [19]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [20]:
print(s5 <= s6)
print(s5.issubset(s6))
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [21]:
print(s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

True
False
False

In [22]:
print(s9 <= s9)

True

In [24]:
print("s7: ", s7)

s7:  {1, 2, 3}

In [25]:
print("s8: ", s8)

s8:  {1, 2, 3, 4, 5}

In [26]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False