In [2]:
import numpy as np
import pandas as pd

In [5]:
# load data
housing_df = pd.read_csv("HousingData.csv")

In [6]:
housing_df.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,NaN,36.2

In [23]:
np.mean(housing_df)

59.93552312607697

In [13]:
housing_df.shape

(506, 14)

In [25]:
np.mean(housing_df['MEDV'])

22.532806324110677

In [18]:
np.median(housing_df['MEDV'])

21.2

In [21]:
# median value of the last row using reverse indexing
np.median(housing_df['MEDV'])

21.2

In [26]:
np.var(housing_df, axis=0)

Unnamed: 0    21336.250000
CRIM             75.885281
ZN              545.913932
INDUS            46.633330
CHAS              0.065065
NOX               0.013401
RM                0.492695
AGE             782.359616
DIS               4.425252
RAD              75.666531
TAX           28348.623600
PTRATIO           4.677726
LSTAT            51.101124
MEDV             84.419556
dtype: float64