# Python Lists/Array

Python does not support arrays but does support the concept of **lists**.  The term list and array is frequently used interchangeably in Python.

This notebook is influenced by the material on [w3schools.com](https://www.w3schools.com/python/ref_list_copy.asp)

In [1]:
# A list of favorite desserts
favorite_desserts = ["Ice Cream", "Apple Pie", "Jello"]

In [2]:
# You can access any element of the list individually, the indexing starts at 0..len-1
# print the first element
favorite_desserts[0]

'Ice Cream'

In [3]:
# The length of the list is obtained by using the len() function
len(favorite_desserts)

3

In [4]:
# One way (not recommended) to access the last item in a list, we will get back to a better way later
favorite_desserts[len(favorite_desserts)-1]

'Jello'

In [5]:
# Store a value in the list into a variable
my_personal_favorite = favorite_desserts[1]
my_personal_favorite

'Apple Pie'

In [6]:
# looping through a list
for x in favorite_desserts:
    print(x)

Ice Cream
Apple Pie
Jello

In [7]:
# We can add a new dessert to the list. Format list.append(<item>)
favorite_desserts.append("Maria Cookies")

In [8]:
favorite_desserts

['Ice Cream', 'Apple Pie', 'Jello', 'Maria Cookies']

In [9]:
# We can delete items from the list, let's delete the last item "Maria Cookies"
favorite_desserts.pop()
favorite_desserts

['Ice Cream', 'Apple Pie', 'Jello']

In [10]:
# Let's add "Maria Cookies" back
favorite_desserts.append("Maria Cookies")
# Let's delete a specific item -> "Jello" since we are no longer on a diet
favorite_desserts.pop(2)
favorite_desserts

['Ice Cream', 'Apple Pie', 'Maria Cookies']

In [11]:
# Another way to remove/delete a specific item
favorite_desserts.remove("Apple Pie")
favorite_desserts

['Ice Cream', 'Maria Cookies']


| Method     | Description                                                                   |
| ------     | -----------                                                                   |
| append()	 | Adds an element at the end of the list                                        |
| clear()	 | Removes all the elements from the list                                        |
| copy()	 | Returns a copy of the list                                                    |
| count()	 | Returns the number of elements with the specified value                       |
| extend()	 | Add the elements of a list (or any iterable), to the end of the current list  |
| index()	 | Returns the index of the first element with the specified value               |
| insert()	 | Adds an element at the specified position                                     |
| pop()	     | Removes the element at the specified position                                 |
| remove()	 | Removes the first item with the specified value                               |
| reverse()	 | Reverses the order of the list                                                |
| sort()	 | Sorts the list                                                                |

In [12]:
# Demo of clear(). Format: list.clear()
my_list = ["a", "c", ["a", 0]]

In [13]:
my_list

['a', 'c', ['a', 0]]

In [14]:
my_list.clear()
my_list

[]

In [15]:
# Demo of copy(). Format: list.copy()
my_list = ["a", "c", ["a", 0]]
my_list2 = my_list.copy()

In [16]:
my_list.pop()
my_list

['a', 'c']

In [17]:
my_list2

['a', 'c', ['a', 0]]

In [18]:
# Demo of using the function count(). Format: list.count(value)
my_list = [1, 2, 2, 1, 4, 6]
my_list.count(2)

2

In [19]:
my_list.count(4)

1

In [20]:
# Demo of extend() function. Format: list.extend(iterable)
my_list_1 = [1, 2, 3]
my_list_2 = [4, 5, 6]
my_list_1.extend(my_list_2)

In [21]:
my_list_1

[1, 2, 3, 4, 5, 6]

In [22]:
my_list_2

[4, 5, 6]

In [23]:
# Demo of index()
my_list_1.index(5)

4

In [24]:
# Demo of insert(<location>, <item>)
my_list_2.insert(2, 7)
my_list_2

[4, 5, 7, 6]

In [25]:
# demo of reverse()
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

In [26]:
# another demo of reverse
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)

[3, 2, 1]

In [27]:
# demo of sort
my_list

[3, 2, 1]

In [28]:
my_list.sort()
my_list

[1, 2, 3]

### What is a Python Iterable?

An object is iterable if it implements the __iter__() method, which returns an iterator object. Alternatively, an object can be iterable if it implements the __getitem__() method, allowing access to elements by index.

**Common Examples:**

- Lists: [1,2,3]
- Tuples: (1,2,3)
- Strings: "Hello"
- Dictionaries: {"a": 1, "b": 2}
- Sets: {1,2,3}
- File objects: open("myfile.txt")

In [29]:
my_dict = { "a": "Jeans", "b": "t-shirt"}
my_list = [1,2,3]
my_list.extend(my_dict)
my_list

[1, 2, 3, 'a', 'b']

In [30]:
# Determining the type() of a list
type(my_list)

list

In [31]:
# Example of using the list() constructor when creating a new list
my_new_list = list(("one", "two", "three"))
my_new_list

['one', 'two', 'three']

In [32]:
# Creating a list with many different data types as items
my_mixed_list = ["a", 'b', 1, True, 10, 11.0]
my_mixed_list

['a', 'b', 1, True, 10, 11.0]

In [33]:
type(my_mixed_list[4])

int

In [34]:
type(my_mixed_list[5])

float

In [35]:
# creating a list with repeated element three times using *
a_simple_list = [10] * 3
a_simple_list

[10, 10, 10]

In [36]:
# The right way to access the last item in a list
languages = ["Java", "JavaScript", "Python", "C++"]
languages[-1]

'C++'

In [37]:
# demo of updating an element directly in the list
languages[0] = "Kotlin"
languages

['Kotlin', 'JavaScript', 'Python', 'C++']

In [38]:
# Using del to delete a specific element in the list
del languages[2]
languages

['Kotlin', 'JavaScript', 'C++']

In [39]:
# Demo of a multi-dimensional array/matrix
matrix = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [42]:
# access a specific element in the matrix
matrix[1][1]

5

In [44]:
# Using the built-in max() function
long_list =  [3,7,1,9,0,4,8,5,6,2]
min(long_list)

0

In [45]:
max(long_list)

9

In [46]:
# The old way to swap items in a list
a = [10, 20, 30, 40, 50]
a

[10, 20, 30, 40, 50]

In [47]:
# Swap index 0 and 3
temp = a[0]
a[0] = a[3]
a[3] = temp
a

[40, 20, 30, 10, 50]

In [48]:
# A better way to swap
a = [10, 20, 30, 40, 50]
a

[10, 20, 30, 40, 50]

In [49]:
a[0], a[3] = a[3], a[0]
a

[40, 20, 30, 10, 50]

In [50]:
# Swapping first and last item in a list
a = [10, 20, 30, 40, 50]
a

[10, 20, 30, 40, 50]

In [51]:
a[0], a[-1] = a[-1], a[0]
a

[50, 20, 30, 40, 10]

### Slicing and Dicing...

Format list_name[start : end : step] 

Parameters:

**start** (optional): Index to begin the slize (inclusive). Defaults to 0 if ommited.

**end** (optional): Index to end the slice (exclusive). Defaults to the length of list if omitted.

**step** (optional): Step size, specifying the interval between elements. Default to 1 if ommitted.

In [52]:
# Our test list
a = [10, 20, 30, 40, 50, 60, 70, 80, 90]
a

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [54]:
# Straightforward use
a[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [55]:
# first five items
a[:5]

[10, 20, 30, 40, 50]

In [56]:
# a middle slice
a[2:7]

[30, 40, 50, 60, 70]

In [58]:
# every other item
a[0::2]

[10, 30, 50, 70, 90]

In [59]:
# the last three
a[-3:]

[70, 80, 90]

In [60]:
# Checking if an item exist
if 50 in a:
    print("Yeah we found it!")
else:
    print("50 is no where in the list! Huh?")

Yeah we found it!

In [63]:
# another way to reverse a list
rev = a[-1::-1]
rev

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [64]:
# sum of a list
sum(a)

450